<title>Hacker News - {{$ctrl.currentPage}}</title>
<div layout="row" layout-fill id="app">
  <div layout="column" layout-fill>
    <header>
      <md-toolbar class="md-scroll-shrink md-accent">
        <div layout="row" layout-align="start center" layout-margin>
          <h3>Hacker News - {{$ctrl.currentPage}}</h3>
        </div>
      </md-toolbar>
    </header>
    <md-content layout="column" flex layout-padding>
      <md-toolbar class="md-scroll-shrink" layout="column" layout-align="center center" ng-show="$ctrl.error">
        <span>An error has occurred. Please click below to retry.</span>
        <md-button class="md-accent md-raised" ng-click="$ctrl.refresh()">Refresh</md-button>
      </md-toolbar>
      <div flex>
        <ui-view layout-fill></ui-view>
      </div>
    </md-content>
  </div>
</div>
<div id="overlay" class="overlay" ng-show="$ctrl.isWaiting()">
  <div layout="row" layout-fill layout-align="center center">
      <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
  </div>
</div>
